In [12]:
import pandas as pd

# مرحله 1: بارگذاری و بررسی اولیه‌ی داده‌ها
# - بارگذاری دیتافریم با استفاده از pandas
# - نمایش تعداد سطرها (rows) و ستون‌ها (columns)
# - نمایش 5 سطر اول برای آشنایی اولیه با داده‌ها
# - چاپ تعداد مقادیر یکتای هر ستون برای تشخیص نوع داده (Nominal, Binary, Numeric, Ordinal)

# بارگذاری داده‌ها از فایل CSV
df = pd.read_csv("student_depression_dataset.csv")

# نمایش اطلاعات کلی دیتافریم شامل نوع داده‌ها، تعداد ناتمام‌ها و حافظه مصرفی
print("\n🔎 Info:")
print(df.info())

# نمایش تعداد سطرها و ستون‌ها در دیتافریم
print("\033[94mتعداد سطرها:\033[0m", df.shape[0])  # تعداد ردیف‌ها یا نمونه‌ها
print("\033[94mتعداد ستون‌ها:\033[0m", df.shape[1])  # تعداد ویژگی‌ها یا ستون‌ها
print("-" * 50)

# نمایش 5 ردیف اول از دیتافریم برای آشنایی اولیه با داده‌ها
display(df.head())

# نمایش تعداد مقادیر یکتا برای هر ستون در دیتافریم
# این کار به ما کمک می‌کند تا انواع داده‌ها را شناسایی کنیم (مثلاً Nominal, Binary, Numeric, Ordinal)

for column in df.columns:
    unique_vals = df[column].nunique()  # تعداد مقادیر یکتا در هر ستون
    print(f"\033[92m{column}\033[0m: {unique_vals} مقدار یکتا")
    print("-" * 50)

def detect_feature_type(series):
    unique_vals = series.dropna().unique()
    num_unique = len(unique_vals)
    
    if pd.api.types.is_numeric_dtype(series):
        if num_unique == 2:
            return "Binary (Numeric)"
        else:
            return "Numeric"
    elif pd.api.types.is_string_dtype(series) or pd.api.types.is_categorical_dtype(series):
        if num_unique == 2:
            return "Binary (Categorical)"
        elif num_unique < 10:
            return "Nominal"
        else:
            return "High-cardinality Nominal"
    else:
        return "Unknown"
        
feature_info = []

for column in df.columns:
    data_type = df[column].dtype
    unique_count = df[column].nunique()
    feature_type = detect_feature_type(df[column])
    
    feature_info.append({
        "نام ستون": column,
        "تعداد مقادیر یکتا": unique_count,
        "نوع داده (dtype)": str(data_type),
        "نوع ویژگی (Feature Type)": feature_type
    })

# تبدیل لیست به DataFrame
feature_df = pd.DataFrame(feature_info)

# نمایش جدول
print("\n📋 جدول ویژگی‌ها:")
display(feature_df) 
# توضیح: منظور از "مقدار یکتا" تعداد انواع مختلف داده‌ها در هر ستون است. 
# به طور مثال، در ستون 'Gender' دو مقدار یکتا داریم: "Male" و "Female" که نشان‌دهنده جنسیت است. 
# این مقدار برای ستون 'Gender' برابر ۲ است.

🔎 Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27901 entries, 0 to 27900
Data columns (total 18 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     27901 non-null  int64
 1   Gender                                 27901 non-null  object
 2   Age                                    27901 non-null  float64
 3   City                                   27901 non-null  object
 4   Profession                             27901 non-null  object
 5   Academic Pressure                      27901 non-null  float64
 6   Work Pressure                          27901 non-null  float64
 7   CGPA                                   27901 non-null  float64
 8   Study Satisfaction                     27901 non-null  float64
 9   Job Satisfaction                       27901 non-null  float64
 10  Sleep Duration                         27901 non-null  object
 11  Dietary Habits                         27901 non-null  object
 12  Degree                                 27901 non-null  object
 13  Have you ever had suicidal thoughts ?  27901 non-null  object
 14  Work/Study Hours                       27901 non-null  float64
 15  Financial Stress                       27901 non-null  object
 16  Family History of Mental Illness       27901 non-null  object
 17  Depression                             27901 non-null  int64
dtypes: float64(7), int64(2), object(9)
memory usage: 3.8+ MB
None
تعداد سطرها: 27901
تعداد ستون‌ها: 18
--------------------------------------------------

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,'5-6 hours',Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,'5-6 hours',Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,'Less than 5 hours',Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,'7-8 hours',Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,'5-6 hours',Moderate,M.Tech,Yes,1.0,1.0,No,0

id: 27901 مقدار یکتا
--------------------------------------------------
Gender: 2 مقدار یکتا
--------------------------------------------------
Age: 34 مقدار یکتا
--------------------------------------------------
City: 52 مقدار یکتا
--------------------------------------------------
Profession: 14 مقدار یکتا
--------------------------------------------------
Academic Pressure: 6 مقدار یکتا
--------------------------------------------------
Work Pressure: 3 مقدار یکتا
--------------------------------------------------
CGPA: 332 مقدار یکتا
--------------------------------------------------
Study Satisfaction: 6 مقدار یکتا
--------------------------------------------------
Job Satisfaction: 5 مقدار یکتا
--------------------------------------------------
Sleep Duration: 5 مقدار یکتا
--------------------------------------------------
Dietary Habits: 4 مقدار یکتا
--------------------------------------------------
Degree: 28 مقدار یکتا
--------------------------------------------------
Have you ever had suicidal thoughts ?: 2 مقدار یکتا
--------------------------------------------------
Work/Study Hours: 13 مقدار یکتا
--------------------------------------------------
Financial Stress: 6 مقدار یکتا
--------------------------------------------------
Family History of Mental Illness: 2 مقدار یکتا
--------------------------------------------------
Depression: 2 مقدار یکتا
--------------------------------------------------

📋 جدول ویژگی‌ها:

,نام ستون,تعداد مقادیر یکتا,نوع داده (dtype),نوع ویژگی (Feature Type)
0,id,27901,int64,Numeric
1,Gender,2,object,Binary (Categorical)
2,Age,34,float64,Numeric
3,City,52,object,High-cardinality Nominal
4,Profession,14,object,High-cardinality Nominal
5,Academic Pressure,6,float64,Numeric
6,Work Pressure,3,float64,Numeric
7,CGPA,332,float64,Numeric
8,Study Satisfaction,6,float64,Numeric
9,Job Satisfaction,5,float64,Numeric
10,Sleep Duration,5,object,Nominal
11,Dietary Habits,4,object,Nominal
12,Degree,28,object,High-cardinality Nominal
13,Have you ever had suicidal thoughts ?,2,object,Binary (Categorical)
14,Work/Study Hours,13,float64,Numeric
15,Financial Stress,6,object,Nominal
16,Family History of Mental Illness,2,object,Binary (Categorical)
17,Depression,2,int64,Binary (Numeric)